/* body {
    background: rgb(95, 157, 151);
    background: linear-gradient(90deg, rgb(21, 128, 155), rgba(95, 157, 152, 1) 27%, 54%, rgb(132, 132, 132) 100%);
} */

h1 {
    margin: 0;
    font-size: 2rem;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

p {
    margin: 1rem 0;
}