@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    line-height: 0;
    box-sizing: border-box;
}

.container{
    height: 105.4vh;
    box-sizing: border-box;
    overflow: hidden;
}

#main-img{
    position: relative;
    top: -45.6rem;
    left: 5rem;
    border: 1px solid black;
    width: 93.72vw;
}

#main-img>img{
    width: 100%;

}

#cal{
  margin-left: 6rem;
}

header{
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0.8rem;
}

header>h2{
    color: rgba(222, 219, 219, 0.814);
    font-size: 18px;
    font-family: sans-serif;
    line-height: 15px;  
}

header>button{
    background-color: rgb(44, 44, 44);
    border: none;
    color: rgb(199, 192, 192);
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 15px;
    margin-left: 6rem;
}

header>div>button{
   border: none;
   background-color: rgb(44, 44, 44);
   border: none;
   padding: 0rem 0.6rem;
}

header>div>button>i{
    color: rgb(229, 223, 223);
}

#sidebar{
    background-color: rgb(44, 44, 44);
    width: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    height: 50vh;
    margin-left: 1rem;
    padding-top: 10px;
}

#left>div>img{
    width: 75%;
}

#grid-menu>img{
    width: 75%;
}

#grid-menu{
    position: relative;
    top: 7rem;
    margin-left: 1rem;
}

#dsply-icons{
    width:6vw;
    height: 50vh;
    position: absolute;
    top: 1.5rem;
    left: 5.5rem;
}

#dsply-icons img{
    width: 68%;
    margin: 19px 0px 0px 14px;
}

#dsply-icons h2{
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin-top: 9px;
    cursor: pointer;  
}

#dsply-icons>div:first-child>h2{
    margin-top: 5px;
}


/* mainmenu */
#homepage{
  width: 70vw;
  height: 80vh;
  position: absolute;
  left: 16rem;
  background-color: rgba(35, 33, 33, 0.1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  top: 5rem;
  z-index: 1;
  display: none;
}

#banner{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 70px 40px;
  padding: 1rem;
}

#banner>figure{
  text-align: center;
  width: 5rem;
  height: 5rem;
}

#banner>figure>img{
  width: 70%;
}

#banner>figure>figcaption{
    color: rgb(210, 206, 206);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-top: 0.5rem;
    cursor: pointer; 
}

#banner>figure:hover{
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 15px;
}




/* Calendar  */
.calendar {
  width: 333px;
  height: 320px;
  background-color: rgb(40, 37, 37, 0.4);
  border-radius: 10px;
  padding: 5px;
  font-family: Segoe UI, sans-serif;
  position: absolute;
  top: 2.5rem;
  left: 37.2rem;
  z-index: 1;
  box-shadow: rgba(181, 181, 181, 0.24) 0px 3px 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.month {
  font-size: 22px;
  font-weight: bold;
  padding: 16px 10px;
  color: rgb(233, 233, 233);
}

.day {
  font-size: 36px;
  font-weight: bold;
  color: #0078d7;
  padding: 15px 8px;
}

.days {
  display: flex;
  justify-content: space-between;
  margin-left: 2px;
  margin-top: 22px;
}

.day-name {
  width: 40px;
  text-align: center;
  font-size: 16px;
  color: white;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 7px 7px;
  margin: 19px 2px;
}

.date {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  padding: 15px 5px;
  cursor: pointer;
  margin: 5px 5px;
}

.date:hover {
  background-color: rgba(33, 32, 32, 0.5);
  color: white;
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.date.selected {
  background-color: #0078d7;
  color: #fff;
} 

.calendar{
  display: none;
}

#shutdown{
  width: 26rem;
  height: 9rem;
  position: absolute;
  top: 17rem;
  right: 33rem;
  background-color: rgb(39, 37, 37);
  z-index: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  display: none;
}

#shutdown>div:first-child>img{
  width: 14%;
  margin: 1rem 1rem;
}

#shutdown>div:first-child>h2{
  position: relative;
  top: -4rem;
  left: 5.4rem;
  font-family: sans-serif;
  color: white;
  font-size: 17px;
  font-weight: 550;
}

#shutdown>div:first-child>p{
  position: relative;
  top: -2.2rem;
  left: 5.4rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 13px;
  font-weight: 500;
}

#shutdown>div:last-child{
  width: 100%;
  display: flex;
  flex-direction: row;
}

#shutdown>div:last-child>a{
  width: 33.2%;
  height: 2.6rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  margin-top: 1rem;
  padding-top: 20px;
  background-color: rgba(72, 72, 72, 0.875);
  color: white;
  overflow: hidden;
  text-align: center;
  border: none;
  text-decoration: none;
}

#shutdown>div:last-child>a:first-child{
  border-bottom-left-radius: 10px;
  border-right: 2px solid rgb(158, 153, 153);
}

#shutdown>div:last-child>a:last-child{
  border-left: 2px solid rgb(158, 153, 153);
  border-bottom-right-radius: 10px;
}

#shutdown>div:last-child>a:first-child:hover, #shutdown>div:last-child>a:last-child:hover, #shutdown>div:last-child>a:nth-child(2):hover{
  background-color: rgb(169, 67, 29);
  cursor: pointer;
}

header>div>button:nth-child(5):focus + #shutdown{
  display: block;
}











/* Animation from here  */




@keyframes down {
  0%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0px);
  }
}

#cal:focus + div{
  display: block;
  animation: down 0.4s ;
}


#left>div>img:hover{
    transform: scale(1.5);
    transform: translate3d(50px);
    transition: transform 0.3s ease;
}

#dsply-icons>div:hover{
    transform: scale(1.3);
    transition: transform 0.3s ease-out;
}


@keyframes down2 {
  0%{
    transform: translateY(-50px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes left {
  0%{
    transform: scale(0.6);
    transform: translateX(-300px);
  }
  100%{
    transform: scale(1);
    transform: translateX(0px);
  }
}


#grid-menu:focus + #homepage{
  display: block;
  animation: left 0.2s ease-in;
}

header>div>button:nth-child(1):focus::after{
  content: "Battery Status : 45% remaning";
  position: absolute;
  right: 6rem;
  top: 2.5rem;
  background-color:rgba(26, 0, 0, 0.656);
  color:rgba(255, 255, 255,0.9);
  font-size: 16px;
  padding: 10px 5px;
  border-radius: 4px;
  z-index: 1;
  font-family: "Ubuntu", sans-serif;
  animation: down2 0.2s;
}


header>div>button:nth-child(2):focus::after{
  content: "No new notifications";
  position: absolute;
  right: 5rem;
  top: 2.5rem;
  background-color:rgba(26, 0, 0, 0.8);
  color:rgba(255, 255, 255,0.9);
  font-size: 16px;
  padding: 10px 5px;
  border-radius: 2px;
  z-index: 1;
  font-family: "Ubuntu", sans-serif;
  animation: down2 0.2s;
}

header>div>button:nth-child(3):focus::after{
  content: "Connected: Realme 8s 5G";
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  background-color:rgba(26, 0, 0, 0.656);
  color:rgba(255, 255, 255,0.9);
  font-size: 16px;
  padding: 10px 5px;
  border-radius: 4px;
  z-index: 1;
  font-family: "Ubuntu", sans-serif;
  animation: down2 0.2s;
}

header>div>button:nth-child(4):focus::after{
  content: "Speakers volume: 80%";
  position: absolute;
  right: 0rem;
  top: 2.5rem;
  background-color:rgba(26, 0, 0, 0.656);
  color:rgba(255, 255, 255,0.9);
  font-size: 16px;
  padding: 10px 5px;
  border-radius: 4px;
  z-index: 1;
  font-family: "Ubuntu", sans-serif;
  animation: down2 0.2s;
}






















