@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    line-height: 0;
    box-sizing: border-box;
}

.container{
    height: 105.4vh;
    box-sizing: border-box;
    overflow: hidden;
}

#main-img{
    position: relative;
    top: -45.6rem;
    left: 5rem;
    border: 1px solid black;
    width: 93.72vw;
}

#main-img>img{
    width: 100%;
}

header{
    background-color: rgb(44, 44, 44);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0.8rem;
}

header>h2{
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 15px;  
}

header>button{
    background-color: rgb(44, 44, 44);
    border: none;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 700;
    line-height: 15px;
    margin-left: 6rem;
}

header>div>button{
   border: none;
   background-color: rgb(44, 44, 44);
   border: none;
   padding: 0rem 0.7rem;
}

header>div>button>i{
    color: rgb(255, 255, 255);
 }

#sidebar{
    background-color: rgb(44, 44, 44);
    width: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
    height: 50vh;
    margin-left: 1rem;
    padding-top: 10px;
}

#left>div>img{
    width: 75%;
}

#grid-menu>img{
    width: 75%;
}

#grid-menu{
    position: relative;
    top: 7rem;
    margin-left: 1rem;
}





